<DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css"> 
			.main {
				display: inline-block;
				width: 200px;
				height: 200px;
				margin: 20px;
				padding: 20px;
				border: 5px;
				background: #ccc;
				box-sizing:border-box;
			}
			.div2 {
				display: inline-block;
				width: 200px;
				height: 200px;
				margin: 20px;
				padding: 20px;
				border: 5px;
				background: #ccc;
			}
			.demo {
				width: 100%;
				height: 200px;
				background: #ccc;
				padding: 0 0px;
			}
		</style> 
	</head>
	<body>
		<div class="main"></div>
		<div class="div2"></div>
		<div class="demo"></div>
	</body>
</html>